Repository nix-community/plasma-manager, pull requests merged in 2024-09, with the labels that each got.

#342 Add module for Ghostwriter
  modules/apps/default.nix
  modules/apps/ghostwriter.nix
  modules/files.nix
  script/write_config.py
Labels: 0. type: enhancement, 4. has: kde app module (new)

#346 Add module for KRunner
  README.md
  modules/default.nix
  modules/krunner.nix
Labels: 0. type: enhancement, 4. has: plasma module (new), 5. approvals: 1

#353 Add Plasma Tiling Options
  modules/kwin.nix
Labels: 0. type: enhancement, 1. scope: kwin, 4. has: plasma module (update)

#351 Add plasmusic-toolbar v1.6.0 options
  modules/widgets/plasmusic-toolbar.nix
Labels: 0. type: enhancement, 1. scope: widgets, 4. has: plasma widget module (update), 3. status: waiting for package

#349 Fix powerdevil options being reset without `overrideConfig`
  modules/powerdevil.nix
Labels: 0. type: bug fix, 1. scope: powerdevil, 4. has: plasma module (update)

#361 Add InhibitLidActionWhenExternalMonitorPresent option to powerdevil module
  modules/powerdevil.nix
Labels: 0. type: enhancement, 1. scope: powerdevil, 4. has: plasma module (update)

#355 Lots of refactoring around startup-scripts
  modules/panels.nix
  modules/startup.nix
  modules/workspace.nix
Labels: 1. scope: workspaces, 1. scope: startup, 1. scope: panels, 4. has: plasma module (update), 0. type: refactor

#364 Fix Window Rules Matching by Window Role
  modules/window-rules.nix
Labels: 0. type: enhancement, 1. scope: window-rules, 5. approvals: 1, 5. first time contribution, 4. has: plasma module (update)

#366 change powerdevil.*.idleTimeOut to idleTimeout to maintain consistency
  modules/powerdevil.nix
Labels: 0. type: enhancement, 1. scope: powerdevil, 5. approvals: 1, 5. first time contribution, 4. has: plasma module (update)

#368 Ensure power actions are correctly applied in powerdevil module
  modules/powerdevil.nix
Labels: 0. type: bug fix, 1. scope: powerdevil, 4. has: plasma module (update)

#369 Add pausePlayersOnSuspend option to powerdevil module
  modules/powerdevil.nix
Labels: 0. type: enhancement, 1. scope: powerdevil, 4. has: plasma module (update)

#370 Add treefmt for formatting and format everything
  default.nix
  docs/default.nix
  docs/plasma-manager-options.nix
  examples/home.nix
  examples/homeManager/home.nix
  examples/homeManagerFlake/flake.nix
  examples/systemFlake/flake.nix
  flake.nix
  lib/colorscheme.nix
  lib/panel.nix
  lib/qfont.nix
  lib/types.nix
  lib/wallpapers.nix
  lib/writeconfig.nix
  modules/apps/ghostwriter.nix
  modules/apps/kate/default.nix
  modules/apps/konsole.nix
  modules/apps/okular.nix
  modules/desktop.nix
  modules/files.nix
  modules/fonts.nix
  modules/hotkeys.nix
  modules/input.nix
  modules/krunner.nix
  modules/kscreenlocker.nix
  modules/kwin.nix
  modules/panels.nix
  modules/powerdevil.nix
  modules/shortcuts.nix
  modules/spectacle.nix
  modules/startup.nix
  modules/widgets/app-menu.nix
  modules/widgets/application-title-bar.nix
  modules/widgets/battery.nix
  modules/widgets/default.nix
  modules/widgets/digital-clock.nix
  modules/widgets/icon-tasks.nix
  modules/widgets/keyboard-layout.nix
  modules/widgets/kicker.nix
  modules/widgets/kickerdash.nix
  modules/widgets/kickoff.nix
  modules/widgets/lib.nix
  modules/widgets/panel-spacer.nix
  modules/widgets/plasma-panel-colorizer.nix
  modules/widgets/plasmusic-toolbar.nix
  modules/widgets/system-monitor.nix
  modules/widgets/system-tray.nix
  modules/window-rules.nix
  modules/windows.nix
  modules/workspace.nix
  script/rc2nix.py
  script/write_config.py
  test/basic.nix
  test/demo.nix
  test/rc2nix/test_rc2nix.py
  treefmt.toml
Labels: 0. type: refactor

#371 Fix true false regex
  script/rc2nix.py
Labels: 0. type: bug fix, 1. scope: rc2nix

#365 Add kara to additionalWidgetPackages
  modules/panels.nix
Labels: 0. type: enhancement, 1. scope: widgets, 4. has: plasma widget package (new)
