Repository nix-community/plasma-manager, pull requests merged in 2024-08, with the labels that each got.

#310 Add more keyboard options
  modules/input.nix
Labels: 0. type: enhancement, 1. scope: input, 2. version: plasma 6, 5. approvals: 1, 4. has: plasma module (update)

#312 Add keyboard layout indicator widget-specific options
  modules/widgets/default.nix
  modules/widgets/keyboard-layout.nix
  modules/widgets/system-tray.nix
Labels: 0. type: enhancement, 4. has: plasma widget module (new), 1. scope: widgets

#309 Add mouse actions
  modules/workspace.nix
Labels: 0. type: enhancement, 1. scope: workspaces, 5. approvals: 2+, 4. has: plasma module (update)

#315 Add kickerdash widget-specific options
  modules/widgets/default.nix
  modules/widgets/kickerdash.nix
Labels: 0. type: enhancement, 4. has: plasma widget module (new), 1. scope: widgets

#314 Add kicker widget-specific options
  modules/widgets/default.nix
  modules/widgets/kicker.nix
Labels: 0. type: enhancement, 4. has: plasma widget module (new), 1. scope: widgets

#319 Support generating top level widget options and use it for popup height and width in kickoff
  modules/widgets/application-title-bar.nix
  modules/widgets/battery.nix
  modules/widgets/digital-clock.nix
  modules/widgets/icon-tasks.nix
  modules/widgets/keyboard-layout.nix
  modules/widgets/kickoff.nix
  modules/widgets/lib.nix
  modules/widgets/plasma-panel-colorizer.nix
  modules/widgets/plasmusic-toolbar.nix
  modules/widgets/system-monitor.nix
  modules/widgets/system-tray.nix
Labels: 0. type: enhancement, 5. approvals: 1, 1. scope: widgets, 4. has: plasma widget module (update)

#311 Update polonium package name
  modules/kwin.nix
Labels: 1. scope: kwin, 2. version: plasma 6, 3. status: waiting for package

#323 Added the ability to disable some animations
  modules/kwin.nix
Labels: 0. type: enhancement, 1. scope: kwin

#328 flake.nix: add docs-html and docs-json packages
  docs/default.nix
  flake.nix
Labels: 0. type: documentation, 5. approvals: 1, 5. first time contribution

#331 Add plasmusic-toolbar v1.5.0 options
  modules/widgets/plasmusic-toolbar.nix
Labels: 0. type: enhancement, 1. scope: widgets, 4. has: plasma widget module (update)

#333 Fix data type for icon-tasks
  modules/widgets/icon-tasks.nix
Labels: 0. type: bug fix, 5. first time contribution, 1. scope: widgets, 4. has: plasma widget module (update)

#338 Add wallpaperFillMode configuration option
  lib/wallpapers.nix
  modules/panels.nix
  modules/workspace.nix
Labels: 0. type: enhancement, 1. scope: workspaces, 5. approvals: 1, 5. first time contribution, 4. has: plasma module (update)

#332 Move desktop options to `desktop` module and add desktop widgets option
  README.md
  modules/default.nix
  modules/desktop.nix
  modules/panels.nix
  modules/widgets/application-title-bar.nix
  modules/widgets/battery.nix
  modules/widgets/default.nix
  modules/widgets/digital-clock.nix
  modules/widgets/icon-tasks.nix
  modules/widgets/keyboard-layout.nix
  modules/widgets/kicker.nix
  modules/widgets/kickerdash.nix
  modules/widgets/kickoff.nix
  modules/widgets/lib.nix
  modules/widgets/plasma-panel-colorizer.nix
  modules/widgets/plasmusic-toolbar.nix
  modules/widgets/system-monitor.nix
  modules/widgets/system-tray.nix
  modules/workspace.nix
Labels: 0. type: enhancement, 1. scope: workspaces, 4. has: plasma module (new), 5. approvals: 1, 1. scope: widgets, 4. has: plasma module (update), 4. has: plasma widget module (update)

#340 Add appmenu widget-specific options
  modules/widgets/app-menu.nix
  modules/widgets/default.nix
Labels: 0. type: enhancement, 4. has: plasma widget module (new), 1. scope: widgets

#341 Add panelspacer widget-specific options
  modules/widgets/default.nix
  modules/widgets/panel-spacer.nix
Labels: 0. type: enhancement, 4. has: plasma widget module (new), 1. scope: widgets
