Repository nix-community/plasma-manager, pull requests merged in 2024-10, with the labels that each got.

#375 feat(application-title-bar): add alignment options for window title
  modules/widgets/application-title-bar.nix
Labels: 0. type: enhancement, 1. scope: widgets, 4. has: plasma widget module (update), 3. status: waiting for package

#382 Add options for blur effect strength
  modules/kwin.nix
Labels: 0. type: enhancement, 1. scope: kwin, 5. first time contribution, 4. has: plasma module (update)

#383 ci: add backport workflow
  .github/workflows/backport.yml
Labels: 0. type: meta

#334 Revert "Fix onlyMinimized option for icon-tasks"
  modules/widgets/icon-tasks.nix
Labels: 2. version: plasma 6, 1. scope: widgets, 4. has: plasma widget module (update), 3. status: waiting for upstream

#344 Add wallpaperFillMode support for wallpaper option
  modules/workspace.nix
Labels: 0. type: enhancement, 1. scope: workspaces, 1. scope: panels, 4. has: plasma module (update), 3. status: waiting for upstream

#379 Various Additions to PowerDevil Configuration
  modules/input.nix
  modules/powerdevil.nix
Labels: 0. type: enhancement, 1. scope: powerdevil, 4. has: plasma module (update)

#390 treewide: remove unused/redundant arguments, format workspace module, fix whitespace, remove `with lib;`
  default.nix
  docs/manual/introduction.md
  docs/manual/preface.md
  lib/types.nix
  lib/writeconfig.nix
  modules/apps/ghostwriter.nix
  modules/apps/konsole.nix
  modules/files.nix
  modules/input.nix
  modules/kscreenlocker.nix
  modules/kwin.nix
  modules/powerdevil.nix
  modules/widgets/app-menu.nix
  modules/widgets/application-title-bar.nix
  modules/widgets/battery.nix
  modules/widgets/default.nix
  modules/widgets/digital-clock.nix
  modules/widgets/icon-tasks.nix
  modules/widgets/keyboard-layout.nix
  modules/widgets/kicker.nix
  modules/widgets/kickerdash.nix
  modules/widgets/kickoff.nix
  modules/widgets/lib.nix
  modules/widgets/pager.nix
  modules/widgets/panel-spacer.nix
  modules/widgets/plasma-panel-colorizer.nix
  modules/widgets/plasmusic-toolbar.nix
  modules/widgets/system-monitor.nix
  modules/widgets/system-tray.nix
  modules/workspace.nix
  script/write_config.py
Labels: 5. approvals: 1, 5. first time contribution, 4. has: plasma module (update), 0. type: refactor

#396 fix(kickoff): set `systemFavorites` when choosing what buttons to show
  modules/widgets/kickoff.nix
Labels: 0. type: bug fix, 1. scope: widgets, 4. has: plasma widget module (update)

#378 Update plasmusic-toolbar options for v2.0.0
  examples/home.nix
  modules/widgets/plasmusic-toolbar.nix
Labels: 0. type: enhancement, 1. scope: widgets, 4. has: plasma widget module (update), 3. status: waiting for package
